  <div class="text-center">
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item active" aria-current="page">
	    	<h1 class="display-4 text-center">      Welcome to finance tracker App</h1>
	    </li>
	  </ol>
	</nav>
  </div>
    <div class="jumbotron text-center text-white">
      
     
    </div>
    
    <footer id="sticky-footer" class="py-4 bg-dark text-white">
      <div class="container text-center">
        <small>Copyright &copy; Your Website</small>
        
      </div>
    </footer>
   </div>
  

